/* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: 0 auto;
}

/* (B) QUESTION */
#quizQn {
  padding: 20px;
  background: #1e283b;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

/* (C) ANSWERS */
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
  background: #151c2b;
  border: 1px solid #29ca8e;
  border-radius: 25px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}
#quizAns label.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}
